pkgbase = zypper
	pkgdesc = Command line software manager using libzypp
	pkgver = 1.14.76
	pkgrel = 1
	url = https://github.com/openSUSE/zypper
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = boost
	makedepends = asciidoc
	depends = libzypp
	depends = libxml2
	depends = procps
	depends = readline
	depends = augeas
	provides = zypper
	provides = apt
	conflicts = apt
	source = https://github.com/openSUSE/zypper/archive/1.14.76.tar.gz
	sha256sums = 8bf00cc9ffbb9afbd274603d98673c9d805636b68d8188f3fa82b13c16e8d09d

pkgname = zypper
